<div class="container">
  <h1>Encode/Decode message</h1>
  <mat-card>
    <mat-card-content>
      <form #f="ngForm">

        <mat-form-field appearance="outline">
          <mat-label>Message</mat-label>
          <textarea
            name="message"
            ngModel
            matInput
            cdkTextareaAutosize
            cdkAutosizeMinRows="3"
          ></textarea>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input
            type="text"
            name="password"
            matInput
            ngModel
            required
          />
        </mat-form-field>
        <div>
          <button
            (click)="textEncode()"
            [disabled]="f.invalid"
            type="button"
            mat-raised-button
            color="primary"
          >Encode</button>

          <button
            (click)="textDecode()"
            [disabled]="f.invalid"
            type="button"
            mat-raised-button
            color="accent"
          >Decode</button>
        </div>
      </form>
      <div class="result" *ngIf="message">
        Result: {{ message.encoded }} {{ message.decoded }}
      </div>

    </mat-card-content>
  </mat-card>
</div>

