.container
  margin: 60px auto 0
  width: 600px

form
  display: flex
  align-items: flex-start
  flex-direction: column

button
  margin-right: 10px

.result
  margin-top: 20px
  padding: 16px
  background-color: aliceblue
